extends layout

block content
  h1= title
  p Welcome to #{title}
  body
    form(action = "/", method = "POST")
      div
        label(for = "name") Name:
        input(name = "name" value = "Vienna")
      br
      div
        label(for = "country") Country:
        input(name = "country" value = "Austria")
      br
      div
        label(for = "population") Population:
        input(name = "population" value = "1800000")
      br
      button(type = "submit") Add my City
    -var ob = JSON.parse(json)
    br
    br
    table.table.table-striped
      tr
        th Name
        th Country
        th Population

      each data in ob.cities
        tr
          td= data.name
          td= data.country
          td= data.population